---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Ihsanomia Blog ";
const description = "Selamat datang di blog Ihsanomia, tempat berbagi informasi dan pengetahuan dan pandangan saya tenrang segala hal, terutama hidup.";
const ogimage ={
    url: "/images/mark.webp",
    alt: "ihsanomia logo blog dengan text ihsanomia",
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
