---
import Heading from "../ui/Heading.astro";
import Button from "../ui/Button.astro";

const mail = "ihsanomiacanworks@gmail.com";
const whatsapp = "+6285793533766"; // Ganti dengan nomor WhatsApp Anda
const title = "Siap wujudkan ide Anda";
const subtitle = "Mari berkolaborasi!";
const buttonText = "Hubungi saya";
const buttonIcon = "paperplane";
---

<section>
  <div
    class="w-full border-b bg-gradient-to-b from-mint-100 to-transparent dark:from-mint-800 dark:border-mint-950 border-mint-100"
  >
    <div class="mx-auto max-w-5xl px-8 py-24 max-sm:py-12">
      <div class="flex items-center justify-between max-sm:flex-col max-sm:gap-8 max-sm:text-center">
        <div class="max-w-lg">
          <Heading
            text={title}
            textGradient={subtitle}
            level={2}
          />
          <p class="mt-4 text-gray-600 dark:text-gray-300">
            Hubungi saya via email atau WhatsApp untuk konsultasi gratis
          </p>
        </div>

        <div
          class="transition-all duration-500 group-hover:animate-jump group-hover:animate-duration-[300ms] group-hover:animate-ease-in-out group-hover:scale-105 hover:scale-125"
        >   
          <Button
              variant="big"
              link={`mailto:${mail}`}
              text="Email"
              iconName="envelope"
            />
        </div>
        <div
        class="transition-all duration-500 group-hover:animate-jump group-hover:animate-duration-[300ms] group-hover:animate-ease-in-out group-hover:scale-105 hover:scale-110"
      >
        <Button
          variant="big"
          link={`https://wa.me/${whatsapp}`}
          text="WhatsApp"
          iconName="whatsapp"
          class="bg-green-500 hover:bg-green-600 dark:bg-green-600 dark:hover:bg-green-700"
        />
      </div>

      </div>
    </div>
  </div>

  
</section>
